header {
  padding: 20px;
  background-color: #fdffcd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  text-transform: uppercase;
  color: #ffcab0;
  letter-spacing: 3px;
  font-size: 40px;
  flex-grow: 1;
}

nav {
  display: flex;
  width: 100%;
}


nav a {
  text-decoration: none;
  color: #01352c;
  padding: 10px;
  font-size: 18px;
  transition: transform 0.3s ease;
}

nav a:hover {
  color: #f05d23;
  transform: scale(1.1);
}
